.icon-box img{
    width: 40px;
   
}

.icon-box h6 a{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
color: #2e2e2e;
font-weight: 600;
}

.icon-box .big{
    font-family: "Poppins", sans-serif;
text-transform: uppercase;
font-size: 52px;
color: #E96B56

}

.icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featured .icon-box:hover {
    background: #e2dfdf;
    cursor: default;
}




/* @media only screen  and (max-width:1024px){
    .featured{
        margin-top: -350px;
    }
}
@media only screen  and (max-width:768px){
    .featured{
        margin-top: -450px;
    }
}
@media only screen  and (max-width:540px){
    .featured{
        margin-top: -360px;
    }
}
@media only screen  and (max-width:420px){
    .featured{
        margin-top: -460px;
    }
}
@media only screen  and (max-width:380px){
    .featured{
        margin-top: -400px;
    }
}
@media only screen  and (max-width:375px){
    .featured{
        margin-top: -520px;
    }
}
@media only screen  and (max-width:360px){
    .featured{
        margin-top: -360px;
    }
}

@media only screen  and (max-width:280px){
    .featured{
        margin-top: -460px;
    }
} */