/* .active{
    color: #e96b56;

} */


#menu-icon {
    width: 100px;
    height: 75px;
    cursor: pointer;
    transform: translate3d(0, 0, 0);

  }
  path {
    fill: none;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    stroke-width: 40px;
    stroke-linecap: round;
    stroke: #E96B56;
    stroke-dashoffset: 0px;
  }
  path#top,
  path#bottom {
    stroke-dasharray: 240px 950px;
  }
  path#middle {
    stroke-dasharray: 240px 240px;
  }
  .active path#top,
  .active path#bottom {
    stroke-dashoffset: -650px;
    stroke-dashoffset: -650px;
  }
  .active path#middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px;
  }